*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: white;
}
.container{
    background: #f0f2f5;
    padding-top: 72px;
    padding-bottom: 112px; 
}
.content{
    width: 980px;
    border: 1px solid black;
}